@import "tailwindcss";


/* Any custom styles go below */



body {
  background-color: #f8fafc; /* slate-50 */
  color: #000000;            /* black text */
  margin: 0;
  padding: 0;
}


.border-navy {
  border: 2px solid #1e3a8a; 
}


